

<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<div class="anatomie_main_logo">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1224 159.54" style="enable-background:new 0 0 1224 159.54;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;}
	.st1{fill:#F7BC60;}
	.st2{fill:#FFFFFF;}
	.st3{fill-rule:evenodd;clip-rule:evenodd;}
</style>
<pattern  x="306" y="159.54" width="69" height="69" patternUnits="userSpaceOnUse" id="Polka_Dot_Pattern" viewBox="2.12 -70.9 69 69" style="overflow:visible;">
	<g>
		<rect x="2.12" y="-70.9" class="st0" width="69" height="69"/>
		<rect x="2.12" y="-70.9" class="st1" width="69" height="69"/>
		<g>
			<path class="st2" d="M61.77-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M54.11-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M46.44-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M38.77-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M31.11-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M23.44-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M15.77-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M8.11-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M0.44-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				C0-70.92,0.16-70.75,0.15-70.62c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
		</g>
		<g>
			<path class="st2" d="M69.44-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
		</g>
		<path class="st2" d="M0.5-71.65c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
			c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
			c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
			c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
			c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
			c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
			c-0.02,0.01-0.02,0-0.03-0.03"/>
		<g>
			<g>
				<path class="st2" d="M69.44-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M61.78-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M54.12-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M46.46-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M38.8-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M31.14-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M23.48-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M15.82-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M8.16-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M0.5-64c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					C3.58-63,3.54-63.05,3.53-63.12c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
			</g>
			<g>
				<path class="st2" d="M69.44-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M61.78-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M54.12-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M46.46-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M38.8-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M31.14-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M23.48-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M15.82-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M8.16-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M0.5-56.35c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
			</g>
			<g>
				<path class="st2" d="M69.44-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M61.78-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M54.12-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M46.46-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M38.8-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M31.14-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M23.48-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M15.82-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M8.16-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M0.5-48.7c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
			</g>
			<g>
				<path class="st2" d="M69.44-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M61.78-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M54.12-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M46.46-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M38.8-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M31.14-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M23.48-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M15.82-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M8.16-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M0.5-41.04c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
			</g>
			<g>
				<path class="st2" d="M69.44-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M61.78-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M54.12-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M46.46-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M38.8-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M31.14-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M23.48-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M15.82-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M8.16-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M0.5-33.39c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
			</g>
			<g>
				<path class="st2" d="M69.44-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					C69-25,69.16-24.83,69.15-24.71c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M61.78-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M54.12-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M46.46-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M38.8-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M31.14-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M23.48-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M15.82-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M8.16-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					C7.72-25,7.88-24.83,7.87-24.71c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M0.5-25.74c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					C0.06-25,0.22-24.83,0.21-24.71c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
			</g>
			<g>
				<path class="st2" d="M69.44-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M61.78-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M54.12-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M46.46-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M38.8-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M31.14-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M23.48-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M15.82-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M8.16-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M0.5-18.08c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
			</g>
			<g>
				<path class="st2" d="M69.44-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					C69-9.69,69.16-9.52,69.15-9.4c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M61.78-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M54.12-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46C57.1-8.93,57.09-9,57.12-9.07c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M46.46-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M38.8-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46C41.78-8.93,41.77-9,41.8-9.07c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M31.14-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M23.48-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M15.82-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46C18.8-8.93,18.79-9,18.82-9.07c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M8.16-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					C7.72-9.69,7.88-9.52,7.87-9.4c0,0.05-0.04,0.11-0.04,0.16C7.82-9.12,7.84-8.97,7.89-8.87c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
					c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
				<path class="st2" d="M0.5-10.43c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
					C0.06-9.69,0.22-9.52,0.21-9.4c0,0.05-0.04,0.11-0.04,0.16C0.16-9.12,0.18-8.97,0.23-8.87c0.1,0.2,0.27,0.41,0.44,0.54
					c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14C2-7.88,2.22-7.83,2.39-7.89c0.22-0.08,0.13-0.34,0.29-0.45
					c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46C3.48-8.93,3.47-9,3.5-9.07c0.04-0.1,0.11-0.16,0.09-0.29
					C3.58-9.43,3.54-9.48,3.53-9.55c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
					c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
					c-0.02,0.01-0.02,0-0.03-0.03"/>
			</g>
		</g>
		<g>
			<path class="st2" d="M69.44-2.78c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				C69-2.04,69.16-1.87,69.15-1.75c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.43,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63C70.4,0,70.6-0.15,70.76-0.18c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05C72.23-0.81,72.37-1,72.4-1.2c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M61.78-2.78c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21C62.14-3.28,62.18-3.2,62-3.14c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M54.12-2.78c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M46.46-2.78c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				C46.82-0.52,47-0.1,47.24-0.04c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M38.8-2.78c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M31.14-2.78c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63C32.1,0,32.3-0.15,32.46-0.18c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05C33.93-0.81,34.07-1,34.1-1.2c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M23.48-2.78c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.04,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M15.82-2.78c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.16,0.13c-0.05,0.06-0.1,0.28-0.08,0.36
				c-0.17,0.06-0.01,0.23-0.02,0.35c0,0.05-0.04,0.11-0.05,0.16c-0.01,0.12,0.02,0.27,0.07,0.37c0.1,0.2,0.27,0.41,0.44,0.54
				c0.19,0.15,0.36,0.57,0.61,0.63c0.18,0.04,0.38-0.1,0.54-0.14c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				c-0.18,0.03-0.29,0.13-0.44,0.21c-0.17,0.09-0.14,0.17-0.32,0.22c-0.08,0.03-0.22,0.12-0.21,0.22c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M8.16-2.78c0.02,0.07,0.01,0.13-0.03,0.19c-0.05,0.1-0.11,0.06-0.17,0.13C7.91-2.4,7.87-2.18,7.89-2.1
				C7.72-2.04,7.88-1.87,7.87-1.75c0,0.05-0.04,0.11-0.04,0.16C7.82-1.47,7.84-1.32,7.89-1.22c0.1,0.2,0.27,0.41,0.44,0.54
				C8.52-0.52,8.69-0.1,8.94-0.04C9.11,0,9.32-0.15,9.48-0.18c0.18-0.04,0.4,0.01,0.57-0.05c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05c0.2-0.07,0.34-0.26,0.38-0.46c0.02-0.08,0.01-0.14,0.04-0.22c0.04-0.1,0.11-0.16,0.09-0.29
				c-0.01-0.06-0.05-0.12-0.06-0.19c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55c-0.38-0.69-1.24-0.93-1.97-0.79
				C8.95-3.54,8.85-3.45,8.69-3.37C8.52-3.28,8.55-3.2,8.37-3.14C8.29-3.12,8.16-3.02,8.16-2.92c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
			<path class="st2" d="M0.5-2.78C0.51-2.71,0.5-2.65,0.47-2.59C0.42-2.49,0.36-2.53,0.3-2.46C0.25-2.4,0.21-2.18,0.23-2.1
				C0.06-2.04,0.21-1.87,0.21-1.75c0,0.05-0.04,0.11-0.04,0.16C0.15-1.47,0.18-1.32,0.23-1.22c0.1,0.2,0.27,0.41,0.44,0.54
				C0.86-0.52,1.03-0.1,1.28-0.04C1.45,0,1.66-0.15,1.82-0.18C2-0.23,2.22-0.17,2.39-0.24c0.22-0.08,0.13-0.34,0.29-0.45
				c0.1-0.07,0.29-0.01,0.41-0.05C3.28-0.81,3.42-1,3.46-1.2C3.48-1.28,3.47-1.34,3.5-1.42c0.04-0.1,0.11-0.16,0.09-0.29
				C3.58-1.77,3.54-1.83,3.53-1.9c-0.02-0.11,0-0.22,0-0.34c0-0.2,0.02-0.38-0.08-0.55C3.07-3.47,2.21-3.71,1.47-3.57
				C1.29-3.54,1.19-3.45,1.03-3.37C0.86-3.28,0.89-3.2,0.71-3.14C0.63-3.12,0.5-3.02,0.5-2.92c0,0.12,0,0.05,0.01,0.17
				c-0.02,0.01-0.02,0-0.03-0.03"/>
		</g>
	</g>
</pattern>
<g>
	<path class="st3" d="M88.22,92.66l-7.92,23.42c-1.2,3.29-1.86,6.46-1.86,8.86c0,2.63,2.79,3.82,5.03,3.82h1.33
		c0.93,0,1.3,0.28,1.3,0.81c0,0.8-0.78,1.06-1.96,1.06c-3.18,0-8.87-0.41-10.31-0.41c-1.48,0-8.73,0.41-14.96,0.41
		c-1.7,0-2.5-0.26-2.5-1.06c0-0.53,0.53-0.81,1.17-0.81c0.95,0,2.79-0.12,3.83-0.25c6.1-0.79,8.75-5.82,11.13-12.43l30.01-82.12
		c1.58-4.37,2.14-5.17,2.91-5.17c0.82,0,1.33,0.67,2.91,4.76c2,5.04,22.74,59.64,30.84,79.75c4.74,11.76,8.57,13.88,11.33,14.68
		c2.02,0.65,3.97,0.77,5.32,0.77c0.77,0,1.32,0.14,1.32,0.81c0,0.8-1.21,1.06-2.66,1.06c-1.96,0-11.63,0-20.76-0.26
		c-2.5-0.14-3.98-0.14-3.98-0.94c0-0.53,0.41-0.79,0.94-0.92c0.79-0.26,1.59-1.46,0.79-3.57l-12.3-32.54
		c-0.26-0.53-2.24-5.95-2.38-6.48l-12.56-35.7c-0.66-1.97-1.32-1.97-1.98,0L90.6,85.92C90.34,86.58,88.48,92,88.22,92.66z"/>
	<path class="st3" d="M221.39,49.29c4.23,4.75,19.14,21.43,34.46,37.95c14,15.07,33.01,34.52,34.46,35.84
		c7.03,6.99,8.62,8.45,9.69,8.45c0.93,0,1.2-0.65,1.2-9.38l0.28-77.49c0-7.92,0.5-10.86,4.88-11.77c1.58-0.4,2.51-0.4,3.15-0.4
		c0.95,0,1.48-0.39,1.48-0.93c0-0.8-0.95-0.94-2.39-0.94c-5.4,0-9.79,0.42-11.27,0.42c-1.48,0-7.83-0.42-13.75-0.42
		c-1.59,0-2.64,0.15-2.64,0.94c0,0.53,0.13,0.93,1.05,0.93c1.07,0,4.11,0.12,6.47,0.65c4.08,1.04,5.03,3.96,5.16,12.57l1.46,67.17
		c-4.23-4.37-18.63-20.5-31.69-34.52c-20.34-21.82-40.01-43.1-42-45.36c-1.33-1.32-3.59-4.23-4.65-4.23c-1.07,0-1.49,1.45-1.49,6.61
		l-0.13,75.78c0,12.03-0.64,15.86-3.95,16.8c-2,0.65-4.36,0.77-5.44,0.77c-0.66,0-1.06,0.28-1.06,0.81c0,0.92,0.8,1.06,2.14,1.06
		c5.95,0,11.52-0.41,12.73-0.41c1.2,0,6.5,0.41,14.02,0.41c1.59,0,2.41-0.26,2.41-1.06c0-0.53-0.4-0.81-1.08-0.81
		c-1.16,0-4.09-0.12-6.6-0.77c-3.58-1.07-4.89-4.52-5.17-15.34L221.39,49.29z"/>
	<path class="st3" d="M552.74,36.33l16.59,0.27c12.69,0.25,15.72,3.3,16.24,7.25l0.13,1.46c0.16,1.85,0.45,2.24,1.07,2.24
		c0.58,0,0.96-0.52,0.96-1.7c0-1.47,0.42-10.58,0.42-14.55c0-0.79,0-1.6-0.67-1.6c-1.1,0-4.69,1.34-13.13,1.34h-49.54
		c-1.58,0-6.62-0.27-10.44-0.66c-3.58-0.27-4.91-1.59-5.81-1.59c-0.54,0-1.09,1.73-1.35,2.52c-0.26,1.06-2.89,12.42-2.89,13.75
		c0,0.8,0.24,1.18,0.65,1.18c0.54,0,0.92-0.27,1.34-1.31c0.39-0.92,0.76-1.86,2.25-4.11c2.1-3.16,5.25-4.08,13.46-4.22l19.58-0.27
		v55.93c0,12.69,0,23.14-0.67,28.7c-0.52,3.84-1.18,6.75-3.84,7.29c-1.18,0.26-2.77,0.51-3.96,0.51c-0.8,0-1.04,0.42-1.04,0.81
		c0,0.8,0.66,1.06,2.09,1.06c3.97,0,12.33-0.41,12.96-0.41c0.67,0,9.01,0.41,16.28,0.41c1.45,0,2.1-0.41,2.1-1.06
		c0-0.39-0.27-0.81-1.05-0.81c-1.19,0-4.09-0.25-5.95-0.51c-3.96-0.53-4.75-3.45-5.16-7.29c-0.65-5.55-0.65-16.01-0.65-28.7V36.33z"
		/>
	<path class="st3" d="M631.53,80.5c0,23.81,15.06,51.97,51.3,51.97c31.88,0,52.76-24.46,52.76-54.09
		c0-30.82-22.21-49.59-51.96-49.59C647.14,28.79,631.53,59.09,631.53,80.5z M644.1,76.79c0-28.95,16.54-43.5,38.59-43.5
		c20.9,0,40.22,17.07,40.22,48.79c0,38.48-24.6,45.36-36.49,45.36C662.59,127.44,644.1,107.61,644.1,76.79z"/>
	<path class="st3" d="M875.05,32.37c-0.29-2.52-0.64-3.58-1.58-3.58c-0.93,0-1.46,0.92-2.02,2.12l-38.84,83.04l-40.47-83.18
		c-0.65-1.45-1.18-1.99-1.99-1.99c-0.77,0-1.16,0.92-1.45,2.39l-9.52,86.22c-0.53,5.03-0.92,10.17-5.28,10.97
		c-2.02,0.39-2.94,0.39-4,0.39c-0.65,0-1.3,0.28-1.3,0.67c0,0.94,0.92,1.2,2.26,1.2c3.55,0,9.93-0.41,11.09-0.41
		c1.07,0,7.42,0.41,12.31,0.41c1.55,0,2.35-0.26,2.35-1.2c0-0.39-0.5-0.67-1.02-0.67c-0.8,0-2.76-0.12-5.03-0.65
		c-2-0.39-3.43-2.12-3.43-4.11c0-2.24,0-4.62,0.11-6.75l5.3-61.34h0.53c1.46,3.56,16.27,35.31,17.46,37.69
		c0.66,1.31,12.01,24.19,15.48,30.67c2.5,4.76,3.15,6.09,4.08,6.09c1.19,0,1.6-1.18,4.38-7.02l32.38-68.75h0.41l6.35,68.24
		c0.24,2.38,0.13,4.62-0.54,4.74c-0.64,0.14-0.93,0.41-0.93,0.93c0,0.67,0.67,1.06,3.7,1.31c4.9,0.41,19.18,0.81,22.1,0.81
		c1.6,0,2.77-0.41,2.77-1.2c0-0.53-0.37-0.67-1.09-0.67c-1.27,0-4.74,0-8.56-1.18c-5.72-1.85-6.65-9.25-7.15-14.02L875.05,32.37z"/>
	<path class="st3" d="M989.86,69c0-20.63,0-24.33,0.26-28.55c0.29-4.66,1.31-6.89,4.88-7.54c1.61-0.28,2.4-0.4,3.31-0.4
		c0.54,0,1.07-0.27,1.07-0.8c0-0.79-0.66-1.07-2.12-1.07c-3.95,0-12.3,0.42-12.96,0.42c-0.65,0-8.98-0.42-13.33-0.42
		c-1.45,0-2.15,0.28-2.15,1.07c0,0.53,0.53,0.8,1.06,0.8c0.93,0,2.65,0.12,4.08,0.52c2.92,0.67,4.26,2.91,4.53,7.42
		c0.24,4.22,0.24,7.92,0.24,28.55v23.27c0,12.69,0,23.14-0.66,28.7c-0.51,3.84-1.19,6.75-3.81,7.29c-1.19,0.26-2.79,0.51-4,0.51
		c-0.74,0-1.02,0.42-1.02,0.81c0,0.8,0.64,1.06,2.1,1.06c3.98,0,12.31-0.41,12.96-0.41c0.66,0,9.01,0.41,16.27,0.41
		c1.46,0,2.11-0.41,2.11-1.06c0-0.39-0.25-0.81-1.06-0.81c-1.23,0-4.11-0.25-5.97-0.51c-3.96-0.53-4.73-3.45-5.16-7.29
		c-0.64-5.55-0.64-16.01-0.64-28.7V69z"/>
	<path class="st3" d="M1080.56,92.26c0,12.69,0,23.14-0.64,28.7c-0.53,3.84-1.19,6.75-3.86,7.29c-1.19,0.26-2.77,0.51-3.93,0.51
		c-0.82,0-1.09,0.42-1.09,0.81c0,0.8,0.66,1.06,2.15,1.06c3.95,0,12.28-0.41,12.93-0.41c3.84,0,12.72,0.8,32.67,0.8
		c5.14,0,6.24,0,7.13-3.44c0.67-2.77,1.72-11.77,1.72-12.82c0-0.93,0-1.99-0.77-1.99c-0.67,0-0.95,0.54-1.18,1.99
		c-0.96,5.42-2.51,8.08-5.96,9.52c-3.43,1.46-9.29,1.46-12.69,1.46c-12.97,0-14.94-1.73-15.35-10.84c-0.12-2.8,0-18.14,0-22.62
		V80.63c0-0.52,0.25-0.93,0.95-0.93c2.23,0,15.32,0.29,18.89,0.68c5.17,0.52,6.34,2.77,6.89,4.61c0.54,1.73,0.54,3.05,0.54,4.37
		c0,0.67,0.24,1.19,0.9,1.19c0.95,0,0.95-1.46,0.95-2.52c0-0.93,0.24-5.83,0.53-8.46c0.36-4.36,1.04-6.61,1.04-7.41
		c0-0.79-0.29-1.04-0.69-1.04c-0.5,0-1.04,0.64-1.96,1.71c-1.19,1.32-3.04,1.59-6.2,1.85c-3.09,0.29-19.29,0.29-21.04,0.29
		c-0.66,0-0.8-0.43-0.8-1.34v-36.5c0-0.92,0.25-1.34,0.8-1.34c1.46,0,15.89,0.15,18.13,0.42c7.12,0.8,8.45,2.39,9.38,4.51
		c0.66,1.58,0.81,3.82,0.81,4.74c0,1.07,0.24,1.72,1.05,1.72c0.53,0,0.78-0.8,0.92-1.45c0.26-1.6,0.54-7.42,0.66-8.73
		c0.42-3.71,1.07-5.29,1.07-6.22c0-0.66-0.12-1.19-0.56-1.19c-0.62,0-1.17,0.53-1.85,0.65c-1.05,0.28-3.13,0.54-5.69,0.68
		c-3,0.13-29.33,0.13-30.28,0.13c-0.64,0-8.98-0.42-14.9-0.42c-1.47,0-2.13,0.28-2.13,1.07c0,0.53,0.53,0.8,1.07,0.8
		c1.16,0,3.41,0.12,4.47,0.4c4.37,0.91,5.43,3.03,5.69,7.54c0.25,4.22,0.25,7.92,0.25,28.55V92.26z"/>
	<path class="st3" d="M390.43,92.66l-7.94,23.42c-1.2,3.29-1.85,6.46-1.85,8.86c0,2.63,2.77,3.82,5.03,3.82h1.31
		c0.93,0,1.32,0.28,1.32,0.81c0,0.8-0.75,1.06-1.98,1.06c-3.17,0-8.89-0.41-10.3-0.41c-1.45,0-8.74,0.41-14.96,0.41
		c-1.73,0-2.48-0.26-2.48-1.06c0-0.53,0.52-0.81,1.15-0.81c0.95,0,2.81-0.12,3.85-0.25c6.09-0.79,8.75-5.82,11.11-12.43l30.04-82.12
		c1.58-4.37,2.11-5.17,2.89-5.17c0.77,0,1.3,0.67,2.9,4.76c2,5.04,22.75,59.64,30.83,79.75c4.76,11.76,8.58,13.88,11.36,14.68
		c1.98,0.65,3.97,0.77,5.3,0.77c0.78,0,1.29,0.14,1.29,0.81c0,0.8-1.17,1.06-2.62,1.06c-2,0-11.65,0-20.76-0.26
		c-2.5-0.14-3.98-0.14-3.98-0.94c0-0.53,0.41-0.79,0.93-0.92c0.78-0.26,1.57-1.46,0.78-3.57L421.36,92.4
		c-0.27-0.53-2.25-5.95-2.39-6.48l-12.56-35.7c-0.66-1.97-1.32-1.97-1.99,0l-11.64,35.7C392.53,86.58,390.67,92,390.43,92.66z"/>
	<path class="st3" d="M1159.28,27.07c1.66,0,3.26,0.42,4.82,1.28c1.59,0.84,2.76,2.04,3.64,3.62c0.9,1.57,1.32,3.2,1.32,4.91
		c0,1.68-0.42,3.3-1.3,4.85c-0.85,1.57-2.04,2.78-3.6,3.63c-1.57,0.85-3.19,1.28-4.88,1.28c-1.69,0-3.31-0.43-4.9-1.28
		c-1.52-0.85-2.71-2.07-3.6-3.63c-0.86-1.55-1.28-3.17-1.28-4.85c0-1.71,0.42-3.34,1.28-4.91c0.9-1.58,2.12-2.78,3.68-3.62
		C1156.02,27.49,1157.64,27.07,1159.28,27.07z M1159.28,28.69c-1.38,0-2.73,0.36-4.03,1.08c-1.28,0.69-2.33,1.69-3.05,3.03
		c-0.71,1.29-1.08,2.66-1.08,4.09c0,1.41,0.34,2.76,1.06,4.05c0.73,1.28,1.74,2.3,3.06,3.03c1.3,0.72,2.63,1.08,4.05,1.08
		s2.76-0.37,4.06-1.08c1.29-0.73,2.32-1.75,3-3.03c0.74-1.29,1.09-2.64,1.09-4.05c0-1.42-0.39-2.8-1.09-4.09
		c-0.73-1.34-1.74-2.33-3.03-3.03C1161.98,29.05,1160.64,28.69,1159.28,28.69z M1154.99,42.26V31.75h3.61c1.26,0,2.12,0.1,2.68,0.3
		c0.56,0.19,0.99,0.53,1.33,1.01c0.33,0.49,0.49,0.99,0.49,1.54c0,0.77-0.26,1.46-0.83,2.01c-0.54,0.58-1.3,0.9-2.17,0.96
		c0.37,0.16,0.64,0.35,0.86,0.58c0.45,0.41,0.96,1.09,1.57,2.07l1.3,2.05h-2.09l-0.93-1.65c-0.71-1.3-1.31-2.11-1.77-2.44
		c-0.32-0.25-0.77-0.37-1.38-0.37h-0.97v4.46H1154.99z M1156.7,36.35h2.06c0.95,0,1.66-0.15,1.99-0.46
		c0.37-0.28,0.56-0.67,0.56-1.16c0-0.3-0.1-0.57-0.26-0.81c-0.21-0.27-0.42-0.44-0.75-0.57c-0.29-0.12-0.85-0.17-1.69-0.17h-1.91
		V36.35z"/>
</g>
</svg>
</div>