{% if block.settings.text != blank %}
<div class="full-width-text{% if block.settings.padded-view %} padded-text {% endif %}"{% if collapse %} style="margin-top: initial; margin-bottom: initial;" {% endif %}>
  {{ block.settings.text }}
</div>
{% endif %}