{% if section.settings.content_placement == 'before' %}
<div class="container row large-row-under">
  <div class="reading-width">
    <h1 class="large-title row">{{ page.title }}</h1>

    <div class="rte rte--expanded-images clearfix">
      {{ page.content }}
    </div>
  </div>
</div>
{% endif %}

{% include 'additional-page-sections' %}

{% if section.settings.content_placement == 'after' %}
<div class="container row large-row-under">
  <div class="reading-width">
    <h1 class="large-title row">{{ page.title }}</h1>

    <div class="rte rte--expanded-images clearfix">
      {{ page.content }}
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Sectioned Page",
  "settings": [
    {
      "type": "select",
      "id": "content_placement",
      "label": "Page Content Location",
      "options": [
        {
          "label": "Before",
          "value": "before"
        },
        {
          "label": "After",
          "value": "after"
        },
        {
          "label": "Hidden",
          "value": "hidden"
        }
      ],
      "default": "before"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "info": "Content will fill the full width of the browser window. Does not include page content.",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "header_slide",
      "name": "Header Slide",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text Color",
          "options": [
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            }
          ],
          "default": "black"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Link to navigate to if the user clicks on the slide"
        },
        {
          "type": "header",
          "content": "Additional Logos"
        },
        {
          "type": "select",
          "id": "logo_position",
          "label": "Positioning",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ],
          "default": "center"
        },
        {
          "type": "image_picker",
          "id": "logo1",
          "label": "Logo 1",
          "info": "Displayed centered at the bottom of the slide."
        },
        {
          "type": "text",
          "id": "logo1_filename",
          "label": "Logo 1 (File URL)",
          "info": "Displayed centered at the bottom of the slide. Enter the filename of a SVG in the Files respository."
        },
        {
          "type": "image_picker",
          "id": "logo2",
          "label": "Logo 2",
          "info": "Displayed centered at the bottom of the slide."
        },
        {
          "type": "text",
          "id": "logo2_filename",
          "label": "Logo 2 (File URL)",
          "info": "Displayed centered at the bottom of the slide. Enter the filename of a SVG in the Files respository."
        }
      ]
    },
    {
      "type": "header",
      "name": "Inline Header",
      "settings": [
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full Width",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text Color",
          "options": [
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            }
          ],
          "default": "black"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Link to navigate to if the user clicks on the slide"
        }
      ]
    },
    {
      "type": "full_width_image",
      "name": "Full Width Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Link to navigate to if the user clicks on the image"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#EFEEEA"
        }
      ]
    },
    {
      "type": "full_width_text",
      "name": "Full Width Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type" : "checkbox",
          "id" : "padded-view",
          "label" : "Smaller Width"
        }
      ]
    },
    {
      "type": "left_right_split",
      "name": "Left/Right Media Content",
      "settings": [
        {
          "type": "select",
          "id": "media_position",
          "label": "Media Position",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#EFEEEA"
        }
      ]
    },
    {
      "type": "full_width_video",
      "name": "Full Width Video",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video link",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "video_url",
          "id": "mobile_video_url",
          "label": "Mobile Video link",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        }
      ]
    },
    {
      "type": "side_by_side_review",
      "name": "Side-By-Side Reviews",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "Review 1"
        },
        {
          "type": "textarea",
          "id": "review1",
          "label": "Review Text"
        },
        {
          "type": "text",
          "id": "reviewer_name1",
          "label": "Reviewer Name"
        },
        {
          "type": "text",
          "id": "reviewer_title1",
          "label": "Reviewer Title"
        },
        {
          "type": "header",
          "content": "Review 2"
        },
        {
          "type": "textarea",
          "id": "review2",
          "label": "Review Text"
        },
        {
          "type": "text",
          "id": "reviewer_name2",
          "label": "Reviewer Name"
        },
        {
          "type": "text",
          "id": "reviewer_title2",
          "label": "Reviewer Title"
        }
      ]
    },
    {
      "type": "image_two_columns",
      "name": "Image w/ Text Columns",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "Images"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "header",
          "content": "Columns"
        },
        {
          "type": "html",
          "id": "column1",
          "label": "Column 1 Text"
        },
        {
          "type": "html",
          "id": "column2",
          "label": "Column 2 Text"
        }
      ]
    },
    {
      "type": "featured_collection",
      "name": "Featured collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Featured collection"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text",
          "default": "Shop now"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "row_count",
          "label": "Rows",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 1
        }
      ]
    },
    {
      "type": "full_width_button",
      "name": "Full Width w/ Button",
      "settings": [
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full Width",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "textarea",
          "id": "paragraph_text",
          "label": "Slide Text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Alignment",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text Color",
          "options": [
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            }
          ],
          "default": "black"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)"
        },
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Link to navigate to if the user clicks on the button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        }
      ]
    },
    {
      "type": "klaviyo_embed",
      "name": "Klaviyo Form Embed",
      "settings": [
        {
          "type": "html",
          "id": "embed_code",
          "label": "Embed Code",
          "default": "<div class=\"klaviyo-form-UCd2yF\"></div>"
        }      
      ]
    }
  ]
}
{% endschema %}