<div class="container row large-row-under">
    <div class="reading-width">
      <div class="rte rte--expanded-images clearfix">
        {{ page.content }}
      </div>
      <h1 class="large-title row">{{ page.title }}</h1>
    </div>
  </div>
  