<div class="container row large-row-under">
  <div class="reading-width">
    <h1 class="large-title row">{{ page.title }}</h1>

    <div class="rte rte--expanded-images clearfix">
      {{ page.content }}
    </div>
  </div>
</div>
